name: CI/CD Demo
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4  # Updated from v2
      
      - name: Login to DockerHub
        uses: docker/login-action@v3  # Updated from v1
        with:
          DOCKER_USERNAME: sanjeet161996
          DOCKER_PASSWORD: dckr_pat_Fb63CZJ2du_vNdoiJ_2NBgHmOdc
      
      - name: Set image tag
        id: vars
        run: echo "image_tag=sanjeet161996/cicd-demo:${{ github.sha }}" >> $GITHUB_OUTPUT
      
      - name: Build, tag, and push image to DockerHub
        run: |
          docker build -t ${{ steps.vars.outputs.image_tag }} .
          docker tag ${{ steps.vars.outputs.image_tag }} sanjeet161996/cicd-demo:latest
          docker push sanjeet161996/cicd-demo:latest
